# Gradle
.gradle/
build/
gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.iws

# Maven
target/

# Local environment
local.properties
*.log

# OS
.DS_Store
Thumbs.db

# JDK
jdk/
jdk17.zip
temurin17.zip
gradle-8.6-bin.zip
